<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Person</title>
  </head>
  <body>
    <div>Hello there! This is the homepage</div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nesciunt
      ab veritatis quisquam, nulla, exercitationem id distinctio provident
      maiores atque tempore aperiam ut maxime repellat aspernatur est delectus
      saepe? Inventore.
    </p>
  </body>
</html>
